[user]
    name = Leandro Magalhaes
    email = le.fatecpd@gmail.com

[init]
    defaultBranch = main

[includeIf "gitdir:~/workspace/workyard/"]
    path = ~/.dotfiles/gitconfig/workyard

[rerere]
	enabled = true
